.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    overflow: hidden;
    background: transparent;
    flex-wrap: wrap;
    z-index: 99;
    width: 100vw; /* Adicionado para garantir que o container ocupe toda a largura */
}

.control {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.info-ender {
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 500;
    background-color: rgba(72, 129, 75, 0.274);
    padding: 0.1em;
    width: 100vw;
}

.info-ender p {
    color: #fff;
    animation: anim-info 20s linear infinite;
    white-space: nowrap; /* Impede a quebra de linha do texto */
}

@keyframes anim-info {
    0% {
        transform: translateX(99%);
    }
    100% {
        transform: translateX(-400%);
    }
}

.logo {
    margin-right: -20em;
}

.logo img {
    width: 5em;
    margin-top: -5px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: 990px;
}

.l-menu {
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none; /* Adicionado para remover sublinhado padrão dos links */
}

.l-menu:hover {
    border: 1px solid rgba(240, 240, 240, 0.274);
    color: rgba(219, 219, 219, 0.274);
    transition: 0.5s linear;
}

.heart {
    color: red;
    font-size: 25px;
    cursor: pointer;
}

.n-like {
    display: flex;
    position: relative;
    left: -45px;
    right: 0px;
    top: -11px;
    bottom: 0px;
}

.n-like span {
    font-weight: 900;
    font-size: 19px;
    color: #fff;
}

.link-insta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
}

.link-insta img {
    width: 40px;
}

@media (max-width: 768px) {
    .nav-container {
        display: flex;
        width: 100vw;
        height: 100vh;
  
    }

    .control {
        display: flex;
        
    }

    .logo {
        display: flex;
       
    }

    .heart, .n-like, .link-insta{
        display: none;
    }

    

    .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 9999999;
        cursor: pointer;
        
    }

    .hamburger div {
        background-color: #fff;
        width: 3.5em;
        height: 6px;
        margin: 3px;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .menu {
        display: none;
        background-color: rgba(0, 0, 0, 0.767);
        position: absolute;
        transition: transform 5s ease, opacity 0.5s ease;
        right: 0;
        width: 50%;
        top: 0;
        height: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 999999;
    }

    

    .menu.open {
        display: flex;
    }

    .hamburger.open div:nth-child(1) {
        transform: rotate(45deg) translateY(17px);
    }

    .hamburger.open div:nth-child(2) {
        transform: scale(2);
        opacity: 0;
    }

    .hamburger.open div:nth-child(3) {
        transform: rotate(-45deg) translateY(-15px);
    }
}

