.bg {
    width: 100vw;
    height: 100vh; /* Para cobrir toda a tela */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), 
                      url('../../../assets/img-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
    
}

.bg h1{
    display: flex;
    align-items: center;
    position: absolute;
    height: 160px;
    z-index: 99;
    flex-wrap: wrap;
    color: #fff;
    font-size: 5em;
    width: 800px;
    margin-top: 300px;
    margin-left: 200px;
    filter: blur(2px);
        
}

@media screen and (max-width: 768px) {
    .bg{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    .bg h1{
       font-size: 65px;
       padding: 0 100px;
       margin-top: -20px;
       width: 600px;
       margin-right: 100px;
    }
}

